button {
  border: none;
  padding: 10px 14px;
  margin: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.saveButton {
  background-color: #4CAF50;
  color: white;
}

.cancelButton {
  background-color: #1d1d1d;
  color: white;
}

form {
  width: 240px;
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
