<div>
  <p>
    Редактирование профиля
  </p>
  <div class="editCard">
    <form>
      <label>First Name</label>
      <input name="first" [(ngModel)]="read.firstName">
    </form>
    <form>
      <label>Last Name</label>
      <input name="last" [(ngModel)]="read.lastName">
    </form>
    <form>
      <label>Phone</label>
      <input name="phone" [(ngModel)]="read.phoneNumber">
    </form>
    <form>
      <label>Photo</label>
      <input name="picture" [(ngModel)]="read.picture">
    </form>
  </div>
  <div>
    <button (click)="saveCandidate()">Сохранить</button>
    <button (click)="cancel()">Отмена</button>
  </div>
</div>
