<div class="editForm">
  <p>
    Редактирование профиля
  </p>
  <div class="columnImg">
    <img src="{{read.picture}}" alt="avatar"/>
  </div>
  <div class="column">
    <form>
      <label>First Name</label>
      <input name="first" [(ngModel)]="read.firstName">
    </form>
    <form>
      <label>Last Name</label>
      <input name="last" [(ngModel)]="read.lastName">
    </form>
    <form>
      <label>Phone</label>
      <input name="phone" [(ngModel)]="read.phoneNumber">
    </form>
    <form>
      <label>Photo</label>
      <input name="picture" [(ngModel)]="read.picture">
    </form>
  </div>
  <div class="errorMessage"><label *ngIf="!saveEnable" >{{message}}</label></div>
  <div>
    <button [ngClass]="{saveButton: read.firstName&&read.lastName&&read.phoneNumber}" (click)="saveCandidate()">Сохранить</button>
    <button class="cancelButton" (click)="cancel()">Отмена</button>
  </div>
</div>
