<div class="main">
  <div><h3>Количество соискателей: {{data.length}}</h3></div>
  <div class="pagination">
    <a [ngClass]="{disabled: pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)"> < </a>
    <a class='activePage' [ngClass]="{disabled: pager.currentPage === 1}" (click)="setPage(1)">{{pager.currentPage}}</a>
    <a [ngClass]="{disabled: pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)"> > </a>
  </div>
  <div>
    <button class='addButton' *ngIf="!addEnable" (click)="addCard()">Добавить соискателя</button>
    <button class='editButton' (click)="goToMain()">На главную</button>
  </div>
  <div class="list">
    <div class="card" *ngFor="let read of reads">
      <div class="container">
        <div>{{read.id +'.' + read.firstName +' '+ read.lastName}}</div>
        <div>phone number: {{read.phoneNumber}}</div>
      </div>
      <div class="cardImage">
        <div><img src="{{read.picture}}" alt="avatar"/></div>
      </div>
      <div>
        <button class='editButton' (click)="editCard(read)">Редактировать</button>
        <button class='deleteButton' (click)="deleteCard(read.id)">Удалить</button>
      </div>
    </div>
  </div>
</div>
